@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-default: 'Poppins', 'Sarabun', 'sans-serif';
  --font-title: 'Merriweather', 'Noto Serif Thai', 'serif';

  --color-primary: #0f3437;
  --color-accent: #d0ad6a;
  --color-cream: #fdeeca;
  --color-olive: #a3b18a;
  --color-teal: #1b4d4b;
  --color-bark: #8e735b;
  --color-charcoal: #231f20;
  --color-mist: #fafafa;
}
