@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-display: "Poppins", "Sarabun", "sans-serif";
  --font-title: "Merriweather", "Noto Serif Thai", "serif";

  --color-primary: #0F3437; 
  --color-accent: #D0AD6A;
  --color-cream: #FDEECA;
  --color-olive: #A3B18A;
  --color-teal: #1B4D4B;
  --color-bark: #8E735B;
  --color-charcoal: #231F20;
  --color-mist: #FAFAFA;
}
