@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-display: "Poppins", "Sarabun", "sans-serif";
  --font-title: "Merriweather", "Noto Serif Thai", "serif";

  --color-primary: #103734; 
  --color-accent: #E6D5B8;
  --color-cream: #F5EFE6;
  --color-olive: #A3B18A;
  --color-teal: #1B4D4B;
  --color-bark: #8E735B;
  --color-charcoal: #2E2E2E;
  --color-mist: #FAFAFA;
}
